#root {
  --main-bg-color: #ffffffee;
  --second-color: #6E44FF;
  --third-color: #ffffffee;
  background-color: var(--main-bg-color);
  font-size: 18px;
}

@media only screen and (min-width: 600px) {
  #root {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  #root {
    font-size: 22px;
  }
}
.container {
  height: 53px;
}
.App {
  min-height: 100vh;
}
.App,
.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--second-color);
  overflow-x: hidden;
}

h1 {
/*   background: linear-gradient(
    90deg,
    rgb(83, 33, 148) 0%,
    rgb(59, 56, 238) 100%
  ); */
  background-color: #f1f0f0;
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
  font-size: 1.4em;
  position: absolute;
  top: 0px;
  color: #5f5f5f;
  font-weight:300;
}

h2 {
  margin-bottom: 5vh;
  color: #5f5f5f;
  font-weight:300;
}

input {
  font-size: 0.9rem;
  height: 45px;
  border: none;
  text-indent: 2px;
  color: var(--second-color);
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: var(--third-color);
  transition: all 0.1s;
}
@media only screen and (min-width: 500px) {
  input {
    font-size: 1rem;
    text-indent: 12px;
  }
}
input:focus {
  border: 2px solid var(--second-color);
  color: var(--second-color);
}
input:focus::placeholder {
  color: transparent;
}

.button {
  cursor: pointer;
  padding: 0 15px;
  font-size: 16px;
  margin: 30px 20px;
  height: 42px;
  background: var(--second-color);
  font-family: "Lato", sans-serif;
  border: 1.5px solid transparent;
  color: var(--third-color);
  font-weight: 550;
  border-radius: 5px;
}
.button:focus {
  outline: none;
}
.button:hover {
  color: var(--second-color);
  background-color: var(--third-color);
  transition: all 0.2s ease-in-out;
  border: 1.5px solid var(--second-color);
}

.list-item {
  display: flex;
  align-items: center;
  background-color: var(--third-color);
  border-radius: 5px;
  margin: 8px;
  padding: 2px 10px;
  box-shadow: 0 0 7px rgb(179, 179, 179);
}

.option,
.option-edit {
  width: 90%;
  margin: 0;
  padding: 8px 2px;
  text-align: center;
  border: unset;
  height: 25px;
  text-indent: 0;
  color: rgb(71, 71, 71);
}
.option-edit {
  color: var(--second-color);
  outline:none;
  box-shadow: 0 0 10px var(--second-color);
}
.option-edit {
  color: var(--second-color);
  outline:none;
  box-shadow: 0 0 10px var(--second-color);
}
.option-list {
  list-style: none;
  padding: 0;
  width: 80vw;
}

.tab {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 10px auto;
  align-items: center;
}

@media only screen and (min-width: 400px) {
  .tab {
    width: 85vw;
  }
  .option-list {
    width: 60vw;
  }
}
@media only screen and (min-width: 700px) {
  .tab {
    width: 600px;
  }
  .option-list {
    width: 400px;
  }
}

.tab input {
  width: 90%;
  margin-right: 5px;
  margin-left: 30px;
border: 1.5px solid  rgb(179, 179, 179);
  transition: all 0.1s;
}
.tab input:focus {
  box-shadow: 0 0 8px var(--second-color);
  outline: none;
}
#tab-add-button {
  cursor: pointer;
  font-size: 35px;
}
.tab-enter-button {
  margin: 0;
  padding: 0 8px;
  height: 35px;
}
@media only screen and (min-width: 550px) {
  #tab-add-button,
  .tab-enter-button {
    display: none;
  }

  .tab input {
    margin-right: 0;
    margin-left: 0;
  }
}

.homepage-step {
  font-size: 1.5em;
}
#icon {
  font-size: 28px;
  margin: 0 3px;
  cursor: pointer;
}
.choice {
  width: 80vw;
  font-size: 22px;
}

.choice-option {
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px 0;
  background-color: transparent;
  font-size: 22px;
  border: solid 1px var(--second-color);
  color: var(--second-color);
}

#first-option {
  animation: slideInFromLeft 0.3s 1;
}
#second-option {
  animation: slideInFromRight 0.3s 1;
}

@keyframes slideInFromLeft {
  0% {
    transform: translate(-50vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translate(50vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.choice-option:active,
.choice-option-selected {
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px 0;
  border: none;
  background-color: var(--second-color);
  color: var(--third-color);
  font-size: 20px;
}

.choice-option:hover {
  border: none;
  color: var(--third-color);
  background-color: var(--second-color);
  transition: all 0.4s ease-in-out;
}

.navigation {
  width: 90%;
  display: inline-flex;
  justify-content: space-evenly;
  margin: 20px 0;
  font-size: 18px;
}
#nav-icon {
  font-size: 50px;
}
.hidden {
  visibility: hidden;
}

.ranking {
  background-color: var(--third-color);
  font-size: 1.3em;
  border-radius: 5px;
  border: 0.5px solid #cfcdcdd7;
  padding: 15px;
  margin: 5px;
}
.ranking-table {
  color: #5f5f5f;
  margin: 50px auto;
}
.ranking-data {
  padding: 0.5rem 0.3em;
}

@media only screen and (min-width: 600px) {
  .ranking-data {
    padding: 0.8rem 0.9em;
  }
}
.thumb-up {
  font-size: 20;
  color: #b688ff;
}
.thumb-down {
  font-size: 20;
  color: #f1f0f0;
}
