html {
  font-size: 16px;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 20px;
  }
}

.App,
.home {
  text-align: center;
  background-color: #1c222d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(226, 223, 223);
  overflow-x: hidden;
}

h1 {
  background-color: #11141bbf;
  padding: 10px 0;
  width: 100%;
  margin-top: 0;
  font-size: 1.4em;
  position: fixed;
  top: 0px;
}

h2 {
  margin-bottom: 5vh;
}

input {
  font-size: 0.8em;
  height: 45px;
  text-indent: 12px;
  border: none;
  color: #1c222d;
  transform: scale(1);
  background-color: rgb(226, 223, 223);
  transition: all 0.3s ease-in-out;
}
input:focus {
  background: none;
  transition: 0.3s;
  font-family: "Lato", sans-serif;
  border: 1px solid rgb(226, 223, 223);
  color: rgb(226, 223, 223);
}
input:focus::placeholder {
  color: transparent;
}
button {
  font-size: 16px;
  padding: 0 15px;
}
button:focus {
  outline: none;
}

.list-item {
  display: flex;
  align-items: center;
}
.option,
.option-edit {
  width: 90%;
  margin: 0;
  padding: 8px 2px;
  text-align: left;
  border: unset;
  background-color: #1c222d;
  color: rgb(226, 223, 223);
  height: 25px;
  text-indent: 0;
}
.option-edit {
  color: rgb(161, 158, 158);
}
.option-list {
  list-style: none;
  padding: 0;
  width: 80vw;
}

.tab {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 10px auto;
  align-items: center;
}

@media only screen and (min-width: 400px) {
  .tab {
    width: 85vw;
  }
  .option-list {
    width: 60vw;
  }
}
@media only screen and (min-width: 700px) {
  .tab {
    width: 600px;
  }
  .option-list {
    width: 400px;
  }
}

.tab input {
  width: 90%;
  margin-right: 5px;
}
.tab input:focus {
  outline: none;
}

@media only screen and (min-width: 550px) {
  #tab-add-button {
    display: none;
  }
  .tab input {
    margin-right: 0;
  }
}

.homepage-step {
  font-size: 1.5em;
}

.choice {
  width: 80vw;
  font-size: 22px;
}

.choice-option {
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px 0;
  background-color: transparent;
  font-size: 20px;
  border: solid 1px rgb(226, 223, 223);
  color: rgb(226, 223, 223);
}

#first-option {
  animation: slideInFromLeft 0.5s 1;
}
#second-option {
  animation: slideInFromRight 0.5s 1;
}

@keyframes slideInFromLeft {
  0% {
    transform: translate(-50vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translate(50vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.choice-option:active,
.choice-option-selected {
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px 0;
  border: solid 1px rgb(226, 223, 223);
  background-color: rgb(226, 223, 223);
  color: #282c34;
  font-size: 20px;
}

.choice-option:hover {
  border: none;
  color: #1c222d;
  background-color: rgb(226, 223, 223);
  transition: all 0.4s ease-in-out;
}

.navigation {
  width: 90%;
  display: inline-flex;
  justify-content: space-evenly;
  margin: 20px 0;
}
.navigation p {
  font-size: 15px;
}

.hidden {
  visibility: hidden;
}
.start-button {
  margin: 30px 0;
  height: 42px;
  background: none;
  transition: 0.5s;
  font-family: "Lato", sans-serif;
  border: 1px solid rgb(226, 223, 223);
  color: rgb(226, 223, 223);
}
.start-button:focus {
  outline: none;
}
.start-button:hover {
  border: none;
  color: #1c222d;
  font-size: 18px;
  transform: scale(1.1);
  background-color: rgb(226, 223, 223);
  transition: all 0.3s ease-in-out;
}

.ranking {
  font-size: 1.3em;
}
.ranking-table {
  margin: 0 auto;
}
.ranking-data {
  padding: 0.5rem 0.3em;
}

@media only screen and (min-width: 600px) {
  .ranking-data {
    padding: 0.8rem 0.9em;
  }
}
