#root {
  --main-bg-color: #ffffffee;
  --second-color: #358cd3;
  --third-color: rgb(141, 140, 140);
  --fourth-color: rgba(110, 163, 39, 0.89);
  background-color: var(--main-bg-color);
}
html {
  font-size: 18px;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}
.App {
  min-height: 100vh;
}

.container {
  min-height: 53px;
  height: 13vh;
}
@media only screen and (min-width: 1200px) {
}
.App,
.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--second-color);
  overflow-x: hidden;
}

h1 {
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
  font-size: 1.3em;
  position: absolute;
  top: 0px;
  color: var(--third-color);
  font-weight: 300;
  box-shadow: 0px 2px 8px 0px rgb(50 50 50 / 8%);
}

h2 {
  margin-bottom: 4vh;
  color: var(--third-color);
  font-weight: 300;
  font-size: 1.3rem;
}

input {
  font-size: 0.8rem;
  height: 45px;
  border: none;
  text-indent: 2px;
  color: var(--second-color);
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.1s;
}
@media only screen and (min-width: 500px) {
  input {
    text-indent: 10px;
  }
}
input:focus {
  border: 2px solid var(--second-color);
  color: var(--second-color);
}
input:focus::placeholder {
  color: transparent;
}

.button {
  cursor: pointer;
  padding: 0 15px;
  font-size: 18px;
  margin: 20px;
  height: 45px;
  font-family: "Lato", sans-serif;
  border: 1.5px solid transparent;
  font-weight: 550;
  border-radius: 5px;
}
.button:focus {
  outline: none;
}
.main-button {
  background: var(--fourth-color);
  color: var(--main-bg-color);
}
.main-button:active {
  box-shadow: 0 0 10px var(--fourth-color);
}
.main-button:hover {
  color: var(--fourth-color);
  background: var(--main-bg-color);
  transition: all 0.2s ease-in-out;
  border: 1.5px solid var(--fourth-color);
}
.second-button {
  background: var(--second-color);
  color: var(--main-bg-color);
}
.second-button:active {
  box-shadow: 0 0 10px var(--second-color);
}
.second-button:hover {
  color: var(--second-color);
  background-color: var(--main-bg-color);
  transition: all 0.2s ease-in-out;
  border: 1.5px solid var(--second-color);
}
.tab-enter-button {
  margin: 0 5px;
  padding: 0 8px;
  height: 35px;
  font-size: 14px;
}

.list-item {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 8px;
  padding: 4px 10px;
  box-shadow: 2px 2px 5px 1px rgb(50 50 50 / 12%);
}

.option,
.option-edit {
  width: 90%;
  margin: 0;
  padding: 10px 2px;
  text-align: center;
  border: unset;
  text-indent: 0;
  color: #5f5f5f;
  font-weight: 300;
  font-size: 0.9em;
  height: auto;
}
.option-edit {
  color: var(--second-color);
  outline: none;
  box-shadow: 0 0 10px var(--second-color);
}

.option-list {
  list-style: none;
  padding: 0;
  width: 80vw;
}

.tab {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 10px auto;
  align-items: center;
}

@media only screen and (min-width: 500px) {
  .tab {
    width: 85vw;
  }
  .option-list {
    width: 70vw;
  }
}
@media only screen and (min-width: 700px) {
  .tab {
    width: 600px;
  }
  .option-list {
    width: 540px;
  }
}

.tab input {
  width: 90%;
  margin-right: 5px;
  margin-left: 25px;
  border: 1.8px solid rgb(211, 211, 211);
  transition: all 0.1s;
}
.tab input:hover {
  box-shadow: 2px 2px 8px 2px rgb(50 50 50 / 8%);
  transition: all 0.1s;
}
.tab input:focus {
  box-shadow: 0 0 8px var(--second-color);
  outline: none;
}
#icon {
  font-size: 28px;
  margin: 0 3px;
  cursor: pointer;
}

#addCircleIcon {
  cursor: pointer;
  font-size: 35px;
}
#addCircleIcon:hover,
#icon:hover {
  transform: scale(1.1);
}
#addCircleIcon:active,
#icon:hover:active {
  transform: scale(0.9);
}

@media only screen and (min-width: 550px) {
  #addCircleIcon,
  .tab-enter-button {
    display: none;
  }

  .tab input {
    margin-right: 0;
    margin-left: 0;
  }
}

.homepage-step {
  font-size: 1.5em;
}

.choice {
  width: 80vw;
  font-size: 20px;
}

.choice-option {
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px 0;
  background-color: transparent;
  font-size: 1rem;
  border: solid 1px var(--second-color);
  color: var(--second-color);
}

#first-option {
  animation: slideInFromLeft 0.3s 1;
}
#second-option {
  animation: slideInFromRight 0.3s 1;
}
.choice-option:active,
.choice-option-selected {
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px 0;
  border: solid 1px var(--second-color);
  background-color: var(--second-color);
  color: var(--main-bg-color);
  font-size: 1rem;
}

.choice-option:hover {
  border: solid 1px var(--second-color);
  color: var(--main-bg-color);
  background-color: var(--second-color);
  transition: all 0.2s ease-in-out;
}

@keyframes slideInFromLeft {
  0% {
    transform: translate(-50vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translate(50vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.navigation {
  width: 90%;
  display: inline-flex;
  justify-content: space-evenly;
  margin: 20px 0;
  font-size: 18px;
}
#nav-icon {
  font-size: 2.8rem;
}
.hidden {
  visibility: hidden;
}

.ranking {
  font-size: 1.3em;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 2px rgb(50 50 50 / 8%);
  padding: 15px;
  margin: 15px;
}
.ranking-table {
  color: #707070;
  margin: 50px auto;
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
}
.ranking-data {
  padding: 0.5rem 0.3em;
}

@media only screen and (min-width: 658px) {
  .ranking {
    padding: 35px;
  }
  .ranking-data {
    padding: 0.8rem 0.9em;
  }
}
#thumb-up {
  font-size: 1.2rem;
  color: var(--second-color);
}
#thumb-down {
  font-size: 1.2rem;
  color: var(--third-color);
}
